.login-page {
  padding-top: 15vh;
  width: 100vw;
  height: 100vh;
  background: #f7f8fa url('@/assets/img/login-page.svg') 100%/100% no-repeat;
}

.ligin-page-form-box {
  margin: 0 auto;
  width: 500px;
  background-color: #fff;
}
